@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

figcaption {
    display: none;
}

body {
    background-color: #0f0f13;
    color: #FFFFFF;
    font-size: 1em;
}

header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    background-color: #0f0f13;
    z-index: 999;
    border-bottom: 1px solid rgb(65, 65, 65);
}

#nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#link-title-logo {
    text-decoration: none;
}

#title-logo {
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 10px rgb(0, 247, 255, 0.5);
}

#logo-pdcase {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

#nav-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#nav-menu ul li a {
    display: none;
}

#main-apple {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-apple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-products-apple {
    width: 80%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}

.container-products-apple img {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px 5px #00f7ff;
    border-radius: 100%;
    object-fit: contain;
}

.container-description-apple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.new-attention-apple {
    font-weight: 600;
    font-size: .875em;
    font-family: "Montserrat", sans-serif;
    color: #00f7ff;
    text-align: center;
    text-transform: uppercase;
}

.name-product-apple {
    font-family: "Orbitron", sans-serif;
    font-size: 1.5em;
    line-height: 1.1;
    color: #FFFFFF;
    text-align: center;
}

.price-products-apple {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #FFFFFF;
}

.description-apple {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .875em;
    text-align: center;
    width: 100%;
}

.btn {
        position: relative;
        cursor: pointer;
        padding: 12px 24px;
        border: none;
        outline: none;
        border: 2px solid #00f7ff;
        background-color: transparent;
        font-weight: 900;
        font-size: .75em;
        color: #FFFFFF;
        transition: all .3s ease-in-out;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.6);
        overflow: hidden;
        text-transform: uppercase;
    }

    .btn:hover {
        color: #000;
    }

    .btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        z-index: -1;
        transition: transform 0.5s;
        transform-origin: top left;
    }

    .btn-default-apple::before {
        transform: scaleX(0);
    }

    .btn-default-apple:hover::before {
        transform: scaleX(1);
    }

/* ASIDE APPLE STORE */

#aside-apple {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    z-index: 999;
    transition: .3s ease;
}

#menu-apple {
    width: 100%;
    height: 40vh;
    background-color: #0f0f13;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#header-menu-apple {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2a2a35;
}

#content-menu-apple {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#content-menu-apple p {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

#toggle-menu:checked+#aside-apple {
    right: 0;
}

#menu-aside {
    display: block;
}

#container-indicators {
    display: none;
}

#footer-apple {
    width: 100%;
    height: 15vh;
    background-color: #0f0f13;
    border-top: 1px solid rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#footer-apple h2 {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

#footer-apple p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .875em;
    color: #FFFFFF;
}



